<div class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <img src="/logo.jpg" alt="logo" class="right-setion-logo-img" />

    <div class="welcome-text">{{ 'loginComponent.welcomeText' | transloco }}</div>
    <div class="welcome-sub-text">{{ 'loginComponent.welcomeSubText' | transloco }}</div>

    @if (showError) {
    <app-operation-info-bar [show]="true" [success]="operationSuccess" [labelText]="errorMessage" />
    }

    <div class="inputs-section">
      <div class="email-section">
        <div class="email-input-container">
          <label class="email-input-text">{{ 'loginComponent.emailInputText' | transloco }}</label>
          <span class="email-input-wrapper">
            <img src="/icons/login-component/email.png" alt="email-icon" />
            <input
              class="email-input"
              type="email"
              name="email"
              [(ngModel)]="email"
              (focus)="showEmailTooltip = true"
              (blur)="showEmailTooltip = false"
            />
          </span>
        </div>
        <app-input-requirement-tooltip-component
          [showTooltip]="showEmailTooltip"
          [requirements]="emailRequirements"
          [value]="email"
          (validityChange)="onEmailInputChange($event)"
        />
      </div>

      <div class="password-section">
        <div class="password-input-container">
          <label class="password-input-text">{{
            'loginComponent.passwordInputText' | transloco
          }}</label>
          <span class="password-input-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              class="password-input"
              [(ngModel)]="password"
              (focus)="showPasswordTooltip = true"
              (blur)="showPasswordTooltip = false"
            />
            <img
              class="password-input-icon"
              src="/icons/login-component/key.png"
              alt="password-icon"
            />
            @if (!showPassword) {
            <img
              class="eye-icon"
              src="/icons/login-component/view.png"
              alt="view-icon"
              (click)="togglePasswordVisibility()"
            />
            } @else {
            <img
              class="eye-icon"
              src="/icons/login-component/hide.png"
              alt="hide-icon"
              (click)="togglePasswordVisibility()"
            />
            }
          </span>
        </div>
        <app-input-requirement-tooltip-component
          [showTooltip]="showPasswordTooltip"
          [requirements]="passwordRequirements"
          [value]="password"
          (validityChange)="onPasswordInputChange($event)"
        />
      </div>

      <div class="forgot-password">
        <a routerLink="/password-reset">{{ 'loginComponent.forgotPassword' | transloco }}</a>
      </div>

      <button class="login-button" type="submit" [disabled]="!buttonActive">
        {{ 'loginComponent.loginButton' | transloco }}
          @if (!isFormValid) {
          <span class="tooltip">{{ 'loginComponent.loginButtonTooltip' | transloco }}</span>
          }
      </button>
    </div>

    <div class="register-link">
      {{ 'loginComponent.registerLink' | transloco }}<br />
      <a routerLink="/register">{{ 'loginComponent.registerLink2' | transloco }}</a>
    </div>
  </form>
</div>
