<div class="main-container">
  <div class="main-panel-container">
    <div class="header-container">
      <h2>{{ 'accountsMenu.accountManagement' | transloco }}</h2>
    </div>
    <div class="operational-panel-container">
      <mat-sidenav-container>
        <mat-sidenav opened="true" mode="side" disableClose>
          <div class="side-menu">
            <button class="side-menu-btn" disabled routerLink="user-data" routerLinkActive="active">
              <span>User Data</span>
            </button>
            <button class="side-menu-btn" routerLink="security" routerLinkActive="active">
              <span>Account Security</span>
            </button>
            <button class="side-menu-btn" routerLink="social" routerLinkActive="active">
              <span>Social</span>
            </button>
            <button class="delete-account-btn"><span>Delete your account</span></button>
          </div>
        </mat-sidenav>
        <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
