.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fefefe 0%, #f8f6f0 100%);
  width: 100%;
  height: 100%;

  h1 {
    color: black;
  }
}
