<div class="main-container">
  <h2>{{ 'accountManagement.accountSecurity.changePassword.title' | transloco }}</h2>
  <span class="warning-text">{{
    'accountManagement.accountSecurity.changePassword.warningText' | transloco
  }}</span>
  <form class="input-form">
    <div class="current-password-section">
      <div class="current-password-input-container">
        <label class="password-input-text">{{
          'accountManagement.accountSecurity.changePassword.currentPassword.header' | transloco
        }}</label>
        <div class="password-input-wrapper">
          <input
            class="password-input"
            [type]="showCurrentPassword ? 'text' : 'password'"
            name="current-password"
            placeholder="{{
              'accountManagement.accountSecurity.changePassword.currentPassword.placeholder'
                | transloco
            }}"
            (focus)="showCurrentPasswordTooltip = true"
            (blur)="showCurrentPasswordTooltip = false"
            [(ngModel)]="currentPassword"
          />
          <img
            class="password-icon"
            src="/icons/registration-component/key.png"
            alt="password-icon"
          />
          <img
            class="eye-icon"
            src="/icons/registration-component/{{ showCurrentPassword ? 'hide' : 'view' }}.png"
            alt="{{ showCurrentPassword ? 'hide-icon' : 'view-icon' }}"
            (click)="toggleCurrentPasswordVisibility()"
          />
        </div>
      </div>

      <app-input-requirement-tooltip-component
        [showTooltip]="showCurrentPasswordTooltip"
        [requirements]="currentPasswordRequirements"
        [value]="currentPassword"
        (validityChange)="onCurrentPasswordValidityChange($event)"
      >
      </app-input-requirement-tooltip-component>
    </div>

    <div class="new-password-section">
      <div class="new-password-input-container">
        <label class="password-input-text">{{
          'accountManagement.accountSecurity.changePassword.newPassword.header' | transloco
        }}</label>
        <div class="password-input-wrapper">
          <input
            class="password-input"
            [type]="showNewPassword ? 'text' : 'password'"
            name="new-password"
            placeholder="{{
              'accountManagement.accountSecurity.changePassword.newPassword.placeholder' | transloco
            }}"
            (focus)="showNewPasswordTooltip = true"
            (blur)="showNewPasswordTooltip = false"
            [(ngModel)]="newPassword"
          />
          <img
            class="password-icon"
            src="/icons/registration-component/key.png"
            alt="password-icon"
          />
          <img
            class="eye-icon"
            src="/icons/registration-component/{{ showNewPassword ? 'hide' : 'view' }}.png"
            alt="{{ showNewPassword ? 'hide-icon' : 'view-icon' }}"
            (click)="togglePasswordVisibility()"
          />
        </div>
      </div>

      <app-input-requirement-tooltip-component
        [showTooltip]="showNewPasswordTooltip"
        [requirements]="newPasswordRequirements"
        [value]="newPassword"
        (validityChange)="onNewPasswordValidityChange($event)"
      >
      </app-input-requirement-tooltip-component>
    </div>

    <div class="confirm-new-password-section">
      <div class="confirm-new-password-input-container">
        <label class="password-input-text">{{
          'accountManagement.accountSecurity.changePassword.confirmNewPassword.header' | transloco
        }}</label>
        <div class="password-input-wrapper">
          <input
            class="password-input"
            [type]="showConfirmNewPassword ? 'text' : 'password'"
            name="confirmNewPassword"
            placeholder="{{
              'accountManagement.accountSecurity.changePassword.confirmNewPassword.placeholder'
                | transloco
            }}"
            (focus)="showConfirmNewPasswordTooltip = true"
            (blur)="showConfirmNewPasswordTooltip = false"
            [(ngModel)]="confirmNewPassword"
          />
          <img
            class="password-icon"
            src="/icons/registration-component/key.png"
            alt="password-icon"
          />
          <img
            class="eye-icon"
            src="/icons/registration-component/{{ showConfirmNewPassword ? 'hide' : 'view' }}.png"
            alt="{{ showConfirmNewPassword ? 'hide-icon' : 'view-icon' }}"
            (click)="toggleConfirmNewPasswordVisibility()"
          />
        </div>
      </div>

      <app-input-requirement-tooltip-component
        [showTooltip]="showConfirmNewPasswordTooltip"
        [requirements]="confirmNewPasswordRequirements"
        [value]="confirmNewPassword"
        (validityChange)="onConfirmNewPasswordValidityChange($event)"
      >
      </app-input-requirement-tooltip-component>
    </div>

    <div class="confirm-button-section">
      <button
        mat-raised-button
        color="primary"
        [class.spinner]="loading"
        class="confirm-button"
        type="button"
        [disabled]="!isFormValid"
        (click)="onButtonClick()"
      >
        {{ 'accountManagement.accountSecurity.changePassword.confirmButton' | transloco }}
      </button>
    </div>
  </form>
</div>
