<div>
  <nav class="top-nav">
    <div class="top-nav-content">
      <div
        class="top-nav-logo"
        role="button"
        tabindex="0"
        (click)="goHome()"
        (keydown.enter)="goHome()"
      >
        <img src="/top_nav_logo.png" alt="Goaleaf" class="top-nav-logo-image" />
        <span class="top-nav-title">Goaleaf</span>
      </div>
      <div class="nav-right">
        @if(!userLoggedIn){
        <app-language-switcher-component />
        } @else {
        <app-account-menu />
        }
      </div>
    </div>
  </nav>
</div>
