<div class="password-reset-panel">
    <div class="password-reset-section">
        <h1 class="password-reset-title">{{ 'passwordResetComponent.title' | transloco }}</h1>
        <label class="password-reset-sub-title">{{ 'passwordResetComponent.subTitle' | transloco }}</label>

        <div class="password-reset-container">
            @if (!requestSent) {
            <div class="email-input-wrapper">
                <input type="email-input" class="password-reset-input"
                    placeholder="{{ 'passwordResetComponent.emailInputPlaceholder' | transloco }}" [(ngModel)]="email"
                    (input)="checkInput()" />
                <img class="email-input-icon" src="/icons/login-component/email.png" alt="email-icon" />
            </div>
            <div class="send-button-section">
                <button type="button" class="btn send-button" [disabled]="isInputEmpty" (click)="sendResetLink()">{{
                    'passwordResetComponent.sendResetLink' | transloco }}
                    @if (isInputEmpty) {
                    <span class="tooltip">{{ 'passwordResetComponent.sendResetLinkTooltip' | transloco }}</span>
                    }
                </button>
            </div>
            } @else {
            <div class="password-reset-success">
                <span class="password-reset-success-text">{{ 'passwordResetComponent.passwordResetSuccessText' |
                    transloco }}</span>
            </div>
            }
        </div>
    </div>