.main-container {
  display: block;
  text-align: center;
  color: #1f3a0f;
  font-size: 1rem;
  font-weight: 600;
  background-color: #688c50;
  opacity: 0.8;
  border-radius: 8px;
  padding: 1rem;
  border-color: #1f3a0f;
  border: 2px solid #1f3a0f;
}
