@use 'variables' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 80%;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-text {
  text-align: center;
  color: #1f3a0f;
  font-size: large;
  font-weight: bold;

  padding-bottom: 0.5vh;
  border-bottom: 1px solid gray;
}

.main-message {
  display: flex;
  flex-direction: row;
}

.main-text {
  color: $color-text-light;
}

.confirm-btn {
  margin-left: 0.5vh;
  color: #1f3a0f;
  font-weight: bolder;
}
