<div class="main-container">
  <div class="main-panel-container">
    <div class="panel-content">
      <span class="title">{{ 'accountManagement.deleteAccount.title' | transloco }}</span>
      <span class="main-message">{{
        'accountManagement.deleteAccount.mainMessage' | transloco
      }}</span>
      <div class="buttons">
        <button class="decision-btn" (click)="onApprove()">
          {{ 'accountManagement.deleteAccount.acceptButton' | transloco }}
        </button>
        <button class="decision-btn" (click)="onDeny()">
          {{ 'accountManagement.deleteAccount.denyButton' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
