:host {
  display: block;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

::ng-deep .mat-mdc-dialog-content {
  flex: 1;
  max-height: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  height: 100%;
  width: 100%;
}

app-confirmation-link-request {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
